<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySite</title>
    <style>
        @keyframes shadow {
            from {background-color: white;}
            50% {background-color: black;}
            to {background-color: white;}
        }

        .blink {
            animation: shadow 2s 0 ease-in-out;
        }
    </style>
</head>
<body>
    <h1>Crazy Captcha</h1>
    <span style="display: none;" id="session">{{ session }}</span>
    <h2>Нарисуйте цифру {{ number }}</h2>
    <canvas id="myCanvas" width="200" height="200" style="border:1px solid #000000;"></canvas>
    <br><button id="btnSend">Отправить</button>
    <button id="btnClear">Очистить</button>
    <br><h3><span id="result"></span></h3>
    <script>
        var canvas = document.getElementById("myCanvas"), 
            context = canvas.getContext("2d"),
            w = canvas.width,
            h=canvas.height;
            session = document.getElementById("session").textContent
        var btnSend = document.getElementById("btnSend")
        var btnClear = document.getElementById("btnClear")
        var mouse = { x:0, y:0};
        var draw = false;
        context.lineWidth = 10;
        context.fillStyle = "white";
        context.fillRect(0, 0, w, h);

        btnClear.addEventListener("mousedown", function(e){
            context.fillStyle = "white";
            context.fillRect(0, 0, w, h);
        })



        btnSend.addEventListener("mousedown", function(e){
            var canvas = document.getElementById("myCanvas")
            var dataURL = canvas.toDataURL("image/jpg")
            result = fetch("http://127.0.0.1:5000/upload", {
                method: "POST",
                headers: {
                    "contentType": "application/json",
                    "session": session
                },
                body: JSON.stringify({
                    image: dataURL
                })
            }).then((response) => {
            return response.json();
        })
            result.then((res) => {
                //text = res["digit"].toString() + " " + res["number"].toString() + " " + res["result"].toString();
                var result_element = document.getElementById("result");
                if (res["success"]) {
                    result_element.textContent = "Верно";
                }
                else {
                    result_element.textContent = "Неверно";
                }
                result_element.className = "blink"
                console.log(res);
            })
            console.log("sent")
        })

        canvas.addEventListener("pointerdown", function(e){
            
            mouse.x = e.pageX - this.offsetLeft;
            mouse.y = e.pageY - this.offsetTop;
            draw = true;
            context.beginPath();
            context.moveTo(mouse.x, mouse.y);
        });
        canvas.addEventListener("pointermove", function(e){
            
            if(draw==true){
            
                mouse.x = e.pageX - this.offsetLeft;
                mouse.y = e.pageY - this.offsetTop;
                context.lineTo(mouse.x, mouse.y);
                context.stroke();
            }
        });
        canvas.addEventListener("pointerup", function(e){
            
            mouse.x = e.pageX - this.offsetLeft;
            mouse.y = e.pageY - this.offsetTop;
            context.lineTo(mouse.x, mouse.y);
            context.stroke();
            context.closePath();
            draw = false;
        });
    

    </script>
</body>
</html>