<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySite</title>
</head>
<body>
    <h1>Hello, World!</h1>
    <p>
        <ul>
        {% for i in range(5) %}
        <li>{{ text }} {{ i }}</li>    
        {% endfor %}
        </ul>
    </p>
    <canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;"></canvas>
    <br><button id="btnSend">Отправить</button>
    <script>
        var canvas = document.getElementById("myCanvas"), 
            context = canvas.getContext("2d"),
            w = canvas.width,
            h=canvas.height;
        var btnSend = document.getElementById("btnSend")    
        var mouse = { x:0, y:0};
        var draw = false;
        
        canvas.addEventListener("mousedown", function(e){
            
            mouse.x = e.pageX - this.offsetLeft;
            mouse.y = e.pageY - this.offsetTop;
            draw = true;
            context.beginPath();
            context.moveTo(mouse.x, mouse.y);
        });
        canvas.addEventListener("mousemove", function(e){
            
            if(draw==true){
            
                mouse.x = e.pageX - this.offsetLeft;
                mouse.y = e.pageY - this.offsetTop;
                context.lineTo(mouse.x, mouse.y);
                context.stroke();
            }
        });
        canvas.addEventListener("mouseup", function(e){
            
            mouse.x = e.pageX - this.offsetLeft;
            mouse.y = e.pageY - this.offsetTop;
            context.lineTo(mouse.x, mouse.y);
            context.stroke();
            context.closePath();
            draw = false;
        });
    
    </script>
</body>
</html>